#header-nav {
  display: flex;
  width: 100%;
  background: $nav-color;
  margin-top: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: $header-border;

  .logo-wrap {
    width: 6.5%;

    .company-logo {
      padding: 32px 41px 27px 39px;
    }
  }

  .nav-wrap {
    display: flex;
    width: 73.5%;
    border-left: $header-border;
    border-right: $header-border;

    .nav-search {
      width: 36.6%;

      .fa-search {
        margin: 34px 0 31px 40px;
        font-size: 27px;
        color: #c5c5da;
      }

      .input-search {
        font-family: $text;
        font-size: $text-size;
        color: #aab8c7;
        margin: 15px 0 7px;
        padding: 25px ;
        border: none;
        outline: none;
      }
    }

    .nav-menu {
      width: 31.9%;
      position: relative;
      margin-top: 40px;

      .nav-list {
        font-size: 0;
        //removing whitespace

        .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px;

          .nav-list-link {
            font-size: $text-size;
            color: #2e3948;
            padding: 33px 20px;

            &::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }
      }

      .drop-drive {
        position: absolute;
        top: -4px;
        right: 0;
      }
    }

    .nav-actions {
      width: 31.7%;
      position: relative;
      margin-top: 14px;
      padding-right: 31px;

      .nav-actions-list {
        font-size: 0;
        float: right;
        content: '';
        display: block;
        clear: both;

        .nav-actions-list-item {
          display: inline-block;

          .nav-actions-list-link {

            .nav-actions-img {
              padding: 20px;
            }
          }
        }
      }

      .notify-light {
        position: absolute;
        width: 26px;
        height: 26px;
        background: #f3333e;
        border-radius: 50%;
        border: 3px solid #ffffff;
        top: 9px;
        left: calc(50% + 6px);

        .notify-count{
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #ffffff;
          font-family: $text-bold;
        }
      }
    }
  }

  .nav-user-wrap {
    display: flex;
    width: 20%;

    .nav-user-text {
      position: relative;
      margin-top: 30px;
      padding: 0 20px 0 47px;

      .nav-user-info {
        font-size: $text-size;
        color: #000000;
      }

      .status-light {
        position: absolute;
        width: 8px;
        height: 8px;
        background: #f3343e;
        border-radius: 50%;
        top: 23px;
        right: calc(100% - 95px);
      }

      .status-text {
        font-size: $text-size-small;
        color: #a9b7c6;
        text-align: right;
      }
    }

    .nav-user-img {
      margin: 19px 0;
    }

    .nav-user-status {
      line-height: 6px;
      margin: 43px 0 ;
      padding: 0 26px;
    }
  }
}