#calendar {
  width: 1384px;
  padding: 0 20px;

  .fc-toolbar {
    height: 49px;
    border: $header-border;
    border-bottom: none;
    margin: 0;

    .fc-button {
      border: none;
      border-radius: unset;
      text-shadow: none;
    }

    .fc-state-default {
      background: none;
      box-shadow: none;
    }

    .fc-left {
      margin: 8px 0 12px 18px;

      .fc-button-group {

        .fc-month-button,
        .fc-agendaWeek-button {
          padding: 5px;
          height: 28px;

          &:first-child {
            margin-right: 5px;
          }
        }

        .fa-th,
        .fa-bars {
          color: #222;
          font-size: 18px;
        }
      }
    }

    .fc-center {
      height: 34px;
      margin: 11px 0 3px;

      .fc-prev-button,
      .fc-next-button {
        display: inline-block;
        background: red;
        height: 28px;
        margin-bottom: 6px;
        padding: 10px;

        .fa-chevron-left,
        .fa-chevron-right {
          font-size: 8px;
          color: #000;
          margin: 0 auto;
        }
      }

      h2 {
        display: inline-block;
        font-size: 23px;
        line-height: 34px;
        padding: 0 27px 0 42px;
      }
    }
  }
}
