.four-fifths {
  //width: 1384px;
  background: $main-color;
  //height: 900px;

  .calendar-wrap {
    margin: 40px 0 16px;

    .calendar-menu-wrap {
      display: flex;

      .calendar-heading {
        width: 435px;
        margin: 4px 0 33px;
        padding-left: 17px;
        font-size: 36px;
        line-height: 52px;
        color: #000000;
      }

      .calendar-menu {
        width: 523px;
        margin-bottom: 44px;
        border-radius: 28px;
        background: #ffffff;

        .calendar-list {
          font-size: 0;

          .calendar-list-item {
            display: inline-block;


            .calendar-list-link {
              display: block;
              border-radius: 28px;
              font-size: $text-size;
              line-height: 24px;
              color: #3d5477;
              transition: .3s;

              &.active-calendar-list-link,
              &:hover {
                font-family: $text-bold;
                color: #ffffff;
                background: #ffe53b;
                background: -moz-linear-gradient(left, #ffe53b 0%, #f3333e 100%);
                background: -webkit-linear-gradient(left, #ffe53b 0%,#f3333e 100%);
                background: linear-gradient(to right, #ffe53b 0%,#f3333e 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe53b', endColorstr='#f3333e',GradientType=1 );
              }

            }

            &:nth-child(1) .calendar-list-link {
              padding: 12px 35px 9px 42px;
            }

            &:nth-child(2) .calendar-list-link {
              padding: 12px 40px 9px 35px;
            }

            &:nth-child(3) .calendar-list-link {
              padding: 12px 47px 9px 48px;
            }

            &:nth-child(4) .calendar-list-link {
              padding: 12px 52px 9px 40px;
            }
          }
        }
      }

      .calendar-event {
        width: 426px;
        margin: 1px 0 44px;
        padding-right: 18px;

        .btn-add-event {
          font-family: $text;
          font-size: $text-size;
          color: #506584;
          line-height: 24px;
          background-color: #ebebf5;
          border-radius: 28px;
          float: right;
          padding: 11px 36px 10px 35px;

          &:hover {
            background-color: darken(#ebebf5, 10%);
            color: #ffffff;
          }
        }
      }
    }
  }
}