#header-nav {
  display: flex;
  width: 100%;
  background:$nav-color;
  margin-top: 62px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: $header-border;

  .logo-wrap {
    width: 6.5%;
    .company-logo {
      margin: 30px 40px;
    }
  }

  .nav-wrap {
    display: flex;
    width: 73.5%;
    border-left: $header-border;
    border-right: $header-border;

    .nav-search {
      margin: 36px 0 33px 40px;

      .fa-search {
        font-size: 27px;
        color: #c5c5da;
      }

      .input-search {
        font-size: $text-size;
        color: #aab8c7;
        margin-left: 25px;
        border: none;
      }

      .nav-menu {

        .nav-list {
          text-align: center;

          .nav-list-item {
            display: inline-block;
          }
        }
      }
    }
  }
}