.one-fifth {
  width: 345px;
  background: #ededf6;
  background: -moz-linear-gradient(top, #ededf6 0%, #f8f9fb 389px);
  background: -webkit-linear-gradient(top, #ededf6 0%,#f8f9fb 389px);
  background: linear-gradient(to bottom, #ededf6 0%,#f8f9fb 389px);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededf6', endColorstr='#f8f9fb',GradientType=0 );
  padding: 17px 0 21px;

  .sidebar-heading {
    padding-left: 20px;
    margin-bottom: 4px;
  }

  #sidebar {

    #sidebar-search-form-wrap {
      margin: 0 24px 26px 16px;
      background: #ffffff;
      border-radius: 3px;

      #sidebar-search-form {

        .sidebar-search-icon {
          font-size: 14px;
          line-height: 14px;
          color: #c5c5da;
          padding: 11px 10px 10px 12px;
        }

        #sidebar-search {
          width: 187px;
          color: #b5bec8;
          font-size: $text-size-small;
          line-height: 21px;
          padding: 9px 0 5px;
        }
      }
    }

    #events {
      height: 793px;
      overflow-y: auto;

      .events-container {

        .events-date {
          display: inline-block;
          font-size: $text-size;
          padding-left: 17px;
          margin: 10px 0 21px;
          height: 24px;
        }

        .events-list {

          .events-list-item {
            display: flex;
            padding-left: 17px;

            .sidebar-img-wrap {
              position: relative;
              margin-top: 2px;


              .sidebar-user-status {
                position: absolute;
                width: 10px;
                height: 10px;
                background: #7cd500;
                border-radius: 50%;
                top: 23px;
                right: -1px;
              }

              .sidebar-user-status-do-not-disturb {
                background: #f3343e;
              }
            }

            .sidebar-events-info-wrap {
              padding-left: 12px;
              margin-bottom: 11px;

              .sidebar-user-name {
                display: block;
                font-family: $text-bold;
                font-size: $text-size-small;
                line-height: 18px;
              }

              .events-details {
                display: block;
                font-size: $text-size-small;
                color: #000000;
                line-height: 21px;
              }

              .events-time-wrap {
                position: relative;

                .sidebar-clock-icon {
                  position: absolute;
                  font-size: 12px;
                  color: #c5c5da;
                  top: 0;
                  left: 0;
                }

                .events-time {
                  padding-left: 17px;
                  font-size: $text-size-small;
                  line-height: 21px;
                  color: #afbdd2;
                }
              }
            }
          }
        }
      }
    }
  }
}