#header-nav {
  display: flex;
  width: 100%;
  background: $nav-color;
  margin-top: 62px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: $header-border;

  .logo-wrap {
    width: 6.5%;
    .company-logo {
      margin: 32px 41px 28px 39px;
    }
  }

  .nav-wrap {
    display: flex;
    width: 73.5%;
    border-left: $header-border;
    border-right: $header-border;

    .nav-search {

      .fa-search {
        margin: 34px 25px 32px 40px;
        font-size: 27px;
        color: #c5c5da;
      }

      .input-search {
        font-family: $text;
        font-size: $text-size;
        color: #aab8c7;
        margin: 38px 224px 31px 0;
        padding: 0;
        border: none;
      }
    }

    .nav-menu {
      position: relative;
      margin: 36px 0 0;

      .nav-list {
        text-align: center;
        font-size: 0;
        //removing whitespace

        .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px;

          .nav-list-link {
            font-size: $text-size;
            line-height: 32px;
            color: #2e3948;
            padding: 33px 20px;

            &::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s;
            }

            &:hover::after {
              opacity: 1;
            }
          }
        }
      }

      .drop-drive {
        position: absolute;
        top: 3px;
        right: 0;

        .drop-icon {
          color: #c5c5da;
          width: 12px;
          height: 6px;
        }
      }
    }

    .nav-actions {
      margin: 34px 30px 35px 150px;

      .nav-actions-list {
        text-align: center;
        font-size: 0;

        .nav-actions-list-item {
          display: inline-block;
          position: relative;

          .nav-actions-list-link {

            .nav-actions-img {
              padding: 0 20px;
              display: block;
            }
          }
        }
      }
    }
  }

  .nav-user-wrap {
    display: flex;
    width: 20%;

    .nav-user-text {
      margin: 28px 20px 41px 47px;

      .nav-user-info {
        line-height: 32px;
      }
    }

    .nav-user-img {
      margin: 19px 26px 19px 20px;
    }
  }
}