.container {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto;
}

.fas {
  line-height: 6px !important;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.column {
  width: 80%;

  &.one-fifth {
    width: 20%;
  }
}

.drop-icon {
  color: #c5c5da;
  width: 12px;
  height: 6px;
}
