#header-nav {
  display: flex;
  width: 100%;
  background: $nav-color;
  margin-top: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: $header-border;

  .logo-wrap {
    width: 112px;

    .logo-link {
      display: block;
      margin: 12px 21px 7px 19px;
      padding: 20px;
    }
  }

  .nav-wrap {
    display: flex;
    border-left: $header-border;
    border-right: $header-border;

    .nav-search {
      width: 473px;
      margin: 15px 0 7px;
      padding-left: 40px;

      .nav-search-form {

        .fa-search {
          font-size: 27px;
          color: #c5c5da;
        }

        .input-search {
          font-family: $text;
          font-size: $text-size;
          color: #aab8c7;
          padding: 25px;
          border: none;
          outline: none;
        }
      }
    }

    .nav-menu {
      width: 405px;
      margin-top: 40px;

      //removing whitespace
      .nav-list {
        font-size: 0;

        .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px;

          .nav-list-link {
            font-size: $text-size;
            color: #2e3948;
            padding: 33px 20px;

            &::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s;
            }

            &:hover::after {
              opacity: 1;
            }
          }
          .dropdown-drive {
            position: absolute;
            top: -4px;
            right: -5px;
          }
        }
      }
    }

    .nav-actions {
      width: 393px;
      margin-top: 14px;
      padding-right: 31px;

      .nav-actions-list {
        font-size: 0;
        float: right;
        content: '';
        display: block;
        clear: both;

        .nav-actions-list-item {
          position: relative;
          display: inline-block;

          .nav-actions-list-link {
            display: block;
            padding: 20px;
          }
        }
      }

      .notify-light {
        position: absolute;
        width: 26px;
        height: 26px;
        background: #f3333e;
        border-radius: 50%;
        border: 3px solid #ffffff;
        top: 9px;
        right: 9px;

        .notify-count {
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #ffffff;
          font-family: $text-bold;
        }
      }
    }
  }

  .nav-user-wrap {
    display: flex;

    .nav-user-details {
      margin-top: 30px;
      padding: 0 20px 0 48px;

      .nav-user-name {
        font-size: $text-size;
        color: #000000;
      }

      .nav-user-status {
        position: relative;

        .status-text {
          font-size: $text-size-small;
          color: #a9b7c6;
          text-align: right;
        }

        .status-light {
          position: absolute;
          width: 8px;
          height: 8px;
          background: #f3343e;
          border-radius: 50%;
          top: 3px;
          left: 40px;
        }
      }
    }

    .nav-user-img {
      margin: 19px 0;
    }

    .nav-user-drop {
      line-height: 6px;
      margin: 36px 0;
      padding: 0 35px 0 18px;
    }
  }
}