.container {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto;
}

.clearfix {
  content: "";
  display: block;
  clear: both;
}

.fas {
  line-height: 6px !important;
}

.dropdown-icon {
  color: #c5c5da;
  width: 12px;
  height: 6px;
}

.dropdown-btn {
  font-size: $text-size;
  background: none;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.one-fifth {
 width: 344px;
}