#calendar {
  width: 1384px;
  padding: 0 20px;

  .fc-toolbar {
    height: 49px;
    border: $header-border;
    border-bottom: none;
    margin: 0;

    .fc-button {
      border: none;
      border-radius: unset;
      text-shadow: none;
    }

    .fc-state-default {
      background: none;
      box-shadow: none;
    }

    .fc-left {
      margin: 8px 0 12px 18px;

      .fc-button-group {

        .fc-month-button,
        .fc-agendaWeek-button {
          padding: 5px;
          height: 28px;

          &:first-child {
            margin-right: 5px;
          }
        }

        .active-btn-color {
          font-size: 18px;
          color: #dcdce7;
        }

        .passive-btn-color {
          font-size: 18px;
          color: #222222;
        }
      }
    }

    .fc-center {
      height: 34px;
      margin: 11px 0 3px;

      .fc-prev-button,
      .fc-next-button {
        display: inline-block;
        background: red;
        height: 28px;
        margin-bottom: 6px;
        padding: 10px;

        .fa-chevron-left,
        .fa-chevron-right {
          font-size: 8px;
          color: #000;
          margin: 0 auto;
        }
      }

      h2 {
        display: inline-block;
        font-size: 23px;
        line-height: 34px;
        padding: 0 27px 0 42px;
      }
    }
  }

  .fc-view-container {

      .fc-day-header {
        height: 37px;
        text-align: left;

        & span {
          display: block;
          height: 21px;
          margin: 9px 0 7px;
          padding-left: 30px;
          font-size: $text-size-small;
          font-weight: 500;
          color: #506584;
        }
      }

    .fc-day-top {
      height: 57px;

      .fc-day-number {
        float: none;
        display: block;
        height: 34px;
        margin-top: 23px;
        padding: 0 0 0 18px;
        font-size: 23px;
      }

        &.fc-other-month{
        opacity: 1;
        color: #c5c5da;
      }
    }
  }

  .fc-event-container {

    .gcal-event {
      margin: 0;
      padding: 0;
      border: unset;
      border-radius: unset;

      .fc-content {

        .fc-title {
          font-size: 17px;
        }
      }
    }
  }

  &.fc-unthemed th,
  &.fc-unthemed td,
  &.fc-unthemed thead,
  &.fc-unthemed tbody,
  &.fc-unthemed .fc-divider,
  &.fc-unthemed .fc-row,
  &.fc-unthemed .fc-content,
  &.fc-unthemed .fc-popover,
  &.fc-unthemed .fc-list-view,
  &.fc-unthemed .fc-list-heading td {
    border-color: #eaebf0; }

  &.fc-unthemed td.fc-today {
    background: #ececf6; }

  &.fc-unthemed td.fc-today .fc-day-number {
    height: 43px;
    margin-top: 15px;
    padding-left: 24px;
    font-family: 'dinbold', sans-serif;
    font-size: 32px; }

}
//.on-hover {
//  background: red;
//  border-radius: 50%;
//  color: #fff;
//  transition: background-color 0.2s ease;
//}