#header-nav {
  width: 100%;
  background:$nav-color;
  margin-top: 62px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid $border-color;

  .logo-wrap {
    width: 6.5%;
    .company-logo {
      margin: 30px 40px;
    }
  }
}