@font-face {
  font-family: 'dinbold';
  src: url('../fonts/DINBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'dinregular';
  src: url('../fonts/DIN.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;

}