$text: 'dinregular', sans-serif;
$text-bold: 'dinbold', sans-serif;
$text-size: 16px;
$text-size-small: 14px;
$body-color: #e7e7f3;
$border-color: #eaebf0;
$nav-color: #ffffff;
$main-color: #f8f9fb;
$gradient: linear-gradient(to right, #ffd53a, #ffb21e, #ff8d14, #ff6320, #fc2a2f);
$header-border: 1px solid $border-color;
//1% = 17.3px


