$text: 'DIN-regular', sans-serif;
$text-bold: 'DIN-bold', sans-serif;
$text-size: 24px;
$text-size-small: 21px;
$body-color: #e7e7f3;
$nav-color: #ffffff;
$main-color: #f8f9fb;
$gradient: linear-gradient(to right, #ffd53a, #ffb21e, #ff8d14, #ff6320, #fc2a2f);


