@font-face {
  font-family: 'dinbold';
  src: url("../fonts/din_bold-webfont.woff2") format("woff2"), url("../fonts/din_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dinregular';
  src: url("../fonts/din-webfont.woff2") format("woff2"), url("../fonts/din-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: "dinregular", sans-serif;
  color: #000;
  background-color: #e7e7f3; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

img {
  display: block; }

h2 {
  margin: 0; }

.container {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto; }

.fas {
  line-height: 6px !important; }

.dropdown-icon {
  color: #c5c5da;
  width: 12px;
  height: 6px; }

.dropdown-btn {
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }

.one-fifth {
  width: 344px; }

#header-nav {
  display: flex;
  width: 100%;
  background: #ffffff;
  margin-top: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #eaebf0; }
  #header-nav .logo-wrap {
    width: 112px; }
    #header-nav .logo-wrap .logo-link {
      display: block;
      margin: 12px 21px 7px 19px;
      padding: 20px; }
  #header-nav .nav-wrap {
    display: flex;
    border-left: 1px solid #eaebf0;
    border-right: 1px solid #eaebf0; }
    #header-nav .nav-wrap .nav-search {
      width: 473px;
      margin: 13px 0 5px;
      padding-left: 40px; }
      #header-nav .nav-wrap .nav-search .nav-search-form .fa-search {
        font-size: 27px;
        color: #c5c5da; }
      #header-nav .nav-wrap .nav-search .nav-search-form .input-search {
        line-height: 24px;
        font-family: "dinregular", sans-serif;
        font-size: 16px;
        color: #aab8c7;
        padding: 25px;
        border: none;
        outline: none; }
    #header-nav .nav-wrap .nav-menu {
      width: 405px;
      margin-top: 36px; }
      #header-nav .nav-wrap .nav-menu .nav-list {
        font-size: 0; }
        #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px; }
          #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link {
            line-height: 24px;
            font-size: 16px;
            color: #2e3948;
            padding: 33px 20px; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link:hover::after {
              opacity: 1; }
          #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .dropdown-drive {
            position: absolute;
            top: -4px;
            right: -5px; }
    #header-nav .nav-wrap .nav-actions {
      width: 393px;
      margin-top: 14px;
      padding-right: 31px; }
      #header-nav .nav-wrap .nav-actions .nav-actions-list {
        font-size: 0;
        float: right;
        content: '';
        display: block;
        clear: both; }
        #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item {
          position: relative;
          display: inline-block; }
          #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item .nav-actions-list-link {
            display: block;
            padding: 20px; }
      #header-nav .nav-wrap .nav-actions .notify-light {
        position: absolute;
        width: 26px;
        height: 26px;
        background: #f3333e;
        border-radius: 50%;
        border: 3px solid #ffffff;
        top: 9px;
        right: 9px; }
        #header-nav .nav-wrap .nav-actions .notify-light .notify-count {
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #ffffff;
          font-family: "dinbold", sans-serif; }
  #header-nav .nav-user-wrap {
    display: flex; }
    #header-nav .nav-user-wrap .nav-user-details {
      margin-top: 26px;
      padding: 0 20px 0 48px; }
      #header-nav .nav-user-wrap .nav-user-details .nav-user-name {
        line-height: 24px;
        font-size: 16px;
        color: #000000; }
      #header-nav .nav-user-wrap .nav-user-details .nav-user-status {
        position: relative; }
        #header-nav .nav-user-wrap .nav-user-details .nav-user-status .status-text {
          line-height: 21px;
          font-size: 14px;
          color: #a9b7c6;
          text-align: right; }
        #header-nav .nav-user-wrap .nav-user-details .nav-user-status .status-light {
          position: absolute;
          width: 8px;
          height: 8px;
          background: #f3343e;
          border-radius: 50%;
          top: 4px;
          left: 40px; }
    #header-nav .nav-user-wrap .nav-user-img {
      margin: 19px 0; }
    #header-nav .nav-user-wrap .nav-user-drop {
      line-height: 6px;
      margin: 36px 0;
      padding: 0 35px 0 18px; }

.four-fifths {
  background: #f8f9fb; }
  .four-fifths .calendar-wrap {
    margin: 41px 0 16px;
    padding: 0 21px 0 20px; }
    .four-fifths .calendar-wrap .calendar-menu-wrap {
      display: flex; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-heading {
        width: 415px;
        font-size: 36px;
        color: #000000; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu {
        border-radius: 28px;
        background: #ffffff; }
        .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list {
          font-size: 0; }
          .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item {
            display: inline-block; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item .calendar-list-link {
              display: block;
              font-size: 16px;
              color: #3d5477; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(1) .calendar-list-link {
              padding: 14px 35px 11px 42px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(2) .calendar-list-link {
              padding: 14px 40px 11px 35px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(3) .calendar-list-link {
              padding: 14px 47px 11px 48px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(4) .calendar-list-link {
              padding: 14px 52px 11px 40px; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-event {
        width: 408px; }

/*# sourceMappingURL=style.css.map */
