@font-face {
  font-family: 'dinbold';
  src: url("../fonts/din_bold-webfont.woff2") format("woff2"), url("../fonts/din_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dinregular';
  src: url("../fonts/din-webfont.woff2") format("woff2"), url("../fonts/din-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: "dinregular", sans-serif;
  color: #000;
  background-color: #e7e7f3; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

img {
  display: block; }

.container {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%; }

.column {
  width: 80%; }
  .column.one-fifth {
    width: 20%; }

#header-nav {
  display: flex;
  width: 100%;
  background: #ffffff;
  margin-top: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #eaebf0; }
  #header-nav .logo-wrap {
    width: 6.5%; }
    #header-nav .logo-wrap .company-logo {
      padding: 32px 41px 27px 39px; }
  #header-nav .nav-wrap {
    display: flex;
    width: 73.5%;
    border-left: 1px solid #eaebf0;
    border-right: 1px solid #eaebf0; }
    #header-nav .nav-wrap .nav-search {
      width: 36.6%; }
      #header-nav .nav-wrap .nav-search .fa-search {
        margin: 34px 0 31px 40px;
        font-size: 27px;
        color: #c5c5da; }
      #header-nav .nav-wrap .nav-search .input-search {
        font-family: "dinregular", sans-serif;
        font-size: 16px;
        color: #aab8c7;
        margin: 15px 0 7px;
        padding: 25px;
        border: none;
        outline: none; }
    #header-nav .nav-wrap .nav-menu {
      width: 31.9%;
      position: relative; }
      #header-nav .nav-wrap .nav-menu .nav-list {
        margin-top: 40px;
        text-align: center;
        font-size: 0; }
        #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px; }
          #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link {
            font-size: 16px;
            color: #2e3948;
            padding: 33px 20px; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link:hover::after {
              opacity: 1; }
      #header-nav .nav-wrap .nav-menu .drop-drive {
        position: absolute;
        top: 37px;
        right: 0; }
        #header-nav .nav-wrap .nav-menu .drop-drive .drop-icon {
          color: #c5c5da;
          width: 12px;
          height: 6px; }
    #header-nav .nav-wrap .nav-actions {
      width: 31.7%;
      position: relative; }
      #header-nav .nav-wrap .nav-actions .nav-actions-list {
        text-align: center;
        font-size: 0; }
        #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item {
          display: inline-block; }
          #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item .nav-actions-list-link .nav-actions-img {
            padding: 20px; }
      #header-nav .nav-wrap .nav-actions .notify-light {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #f3333e;
        border-radius: 50%;
        border: 3px solid #ffffff;
        top: -9px;
        left: 30px; }
        #header-nav .nav-wrap .nav-actions .notify-light .notify-count {
          font-size: 12px;
          color: #ffffff;
          font-family: "dinbold", sans-serif; }
  #header-nav .nav-user-wrap {
    display: flex;
    width: 20%; }
    #header-nav .nav-user-wrap .nav-user-text .nav-user-info {
      line-height: 32px; }

/*# sourceMappingURL=style.css.map */
