@font-face {
  font-family: 'dinbold';
  src: url("../fonts/din_bold-webfont.woff2") format("woff2"), url("../fonts/din_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'dinregular';
  src: url("../fonts/din-webfont.woff2") format("woff2"), url("../fonts/din-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  position: relative;
  font-family: "dinregular", sans-serif;
  color: #000;
  background-color: #e7e7f3; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

p {
  margin: 0; }

img {
  display: block; }

h2, h4 {
  font-weight: normal;
  margin: 0; }

input {
  font-family: "dinregular", sans-serif;
  border: none;
  outline: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

.container {
  max-width: 1730px;
  width: 100%;
  margin: 0 auto; }

.clearfix {
  content: "";
  display: block;
  clear: both; }

.dropdown-icon {
  color: #c5c5da;
  width: 12px;
  height: 6px; }

.dropdown-btn {
  font-size: 16px;
  background: none; }

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 72px; }

#header-nav {
  display: flex;
  width: 100%;
  background: #ffffff;
  margin-top: 62px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: 1px solid #eaebf0; }
  #header-nav .logo-wrap {
    width: 112px; }
    #header-nav .logo-wrap .logo-link {
      display: block;
      margin: 12px 21px 7px 19px;
      padding: 20px; }
  #header-nav .nav-wrap {
    display: flex;
    border-left: 1px solid #eaebf0;
    border-right: 1px solid #eaebf0; }
    #header-nav .nav-wrap .nav-search {
      width: 473px;
      margin: 13px 0 5px;
      padding-left: 40px; }
      #header-nav .nav-wrap .nav-search .nav-search-form .nav-search-icon {
        font-size: 27px;
        color: #c5c5da; }
      #header-nav .nav-wrap .nav-search .nav-search-form #nav-search {
        line-height: 24px;
        font-size: 16px;
        color: #aab8c7;
        padding: 25px; }
    #header-nav .nav-wrap .nav-menu {
      width: 405px;
      margin-top: 36px; }
      #header-nav .nav-wrap .nav-menu .nav-list {
        font-size: 0; }
        #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item {
          display: inline-block;
          position: relative;
          padding-bottom: 33px; }
          #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link {
            line-height: 24px;
            font-size: 16px;
            color: #2e3948;
            padding: 33px 20px; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link.active-nav-list-link::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 1;
              right: 20px;
              left: 20px; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link::after {
              height: 3px;
              content: '';
              position: absolute;
              display: block;
              background: #f3333e;
              bottom: 0;
              opacity: 0;
              right: 20px;
              left: 20px;
              transition: opacity .3s; }
            #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .nav-list-link:hover::after {
              opacity: 1; }
          #header-nav .nav-wrap .nav-menu .nav-list .nav-list-item .dropdown-drive {
            position: absolute;
            top: -4px;
            right: -5px; }
    #header-nav .nav-wrap .nav-actions {
      width: 393px;
      margin-top: 14px;
      padding-right: 31px; }
      #header-nav .nav-wrap .nav-actions .nav-actions-list {
        font-size: 0;
        float: right; }
        #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item {
          position: relative;
          display: inline-block; }
          #header-nav .nav-wrap .nav-actions .nav-actions-list .nav-actions-list-item .nav-actions-list-link {
            display: block;
            padding: 20px; }
      #header-nav .nav-wrap .nav-actions .notify-light {
        position: absolute;
        width: 26px;
        height: 26px;
        background: #f3333e;
        border-radius: 50%;
        border: 3px solid #ffffff;
        top: 9px;
        right: 9px; }
        #header-nav .nav-wrap .nav-actions .notify-light .notify-count {
          text-align: center;
          line-height: 20px;
          font-size: 12px;
          color: #ffffff;
          font-family: "dinbold", sans-serif; }
  #header-nav .nav-user-wrap {
    width: 345px;
    display: flex; }
    #header-nav .nav-user-wrap .nav-user-details {
      margin-top: 26px;
      padding: 0 20px 0 48px; }
      #header-nav .nav-user-wrap .nav-user-details .nav-user-name {
        line-height: 24px;
        font-size: 16px;
        color: #000000; }
      #header-nav .nav-user-wrap .nav-user-details .nav-user-status {
        position: relative; }
        #header-nav .nav-user-wrap .nav-user-details .nav-user-status .status-text {
          line-height: 21px;
          font-size: 14px;
          color: #a9b7c6;
          text-align: right; }
        #header-nav .nav-user-wrap .nav-user-details .nav-user-status .status-light {
          position: absolute;
          width: 8px;
          height: 8px;
          background: #f3343e;
          border-radius: 50%;
          top: 4px;
          left: 40px; }
    #header-nav .nav-user-wrap .nav-user-img {
      margin: 19px 0; }
    #header-nav .nav-user-wrap .nav-user-drop {
      line-height: 6px;
      margin: 36px 0;
      padding: 0 35px 0 18px; }

.four-fifths {
  background: #f8f9fb; }
  .four-fifths .calendar-wrap {
    margin: 40px 0 16px; }
    .four-fifths .calendar-wrap .calendar-menu-wrap {
      display: flex; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-heading {
        width: 435px;
        margin: 4px 0 33px;
        padding-left: 17px;
        font-size: 36px;
        line-height: 52px;
        color: #000000; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu {
        width: 523px;
        margin-bottom: 44px;
        border-radius: 28px;
        background: #ffffff; }
        .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list {
          font-size: 0; }
          .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item {
            display: inline-block; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item .calendar-list-link {
              display: block;
              border-radius: 28px;
              font-size: 16px;
              line-height: 24px;
              color: #3d5477;
              transition: .3s; }
              .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item .calendar-list-link.active-calendar-list-link, .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item .calendar-list-link:hover {
                font-family: "dinbold", sans-serif;
                color: #ffffff;
                background: #ffe53b;
                background: -moz-linear-gradient(left, #ffe53b 0%, #f3333e 100%);
                background: -webkit-linear-gradient(left, #ffe53b 0%, #f3333e 100%);
                background: linear-gradient(to right, #ffe53b 0%, #f3333e 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe53b', endColorstr='#f3333e',GradientType=1 ); }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(1) .calendar-list-link {
              padding: 12px 35px 9px 42px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(2) .calendar-list-link {
              padding: 12px 40px 9px 35px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(3) .calendar-list-link {
              padding: 12px 47px 9px 48px; }
            .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-menu .calendar-list .calendar-list-item:nth-child(4) .calendar-list-link {
              padding: 12px 52px 9px 40px; }
      .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-event {
        width: 426px;
        margin: 1px 0 44px;
        padding-right: 18px; }
        .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-event .btn-add-event {
          font-family: "dinregular", sans-serif;
          font-size: 16px;
          color: #506584;
          line-height: 24px;
          background-color: #ebebf5;
          border-radius: 28px;
          float: right;
          padding: 11px 36px 10px 35px; }
          .four-fifths .calendar-wrap .calendar-menu-wrap .calendar-event .btn-add-event:hover {
            background-color: #c9c9e4;
            color: #ffffff; }

#calendar {
  width: 1384px;
  padding: 0 20px; }
  #calendar .fc-toolbar {
    height: 49px;
    border: 1px solid #eaebf0;
    border-bottom: none;
    margin: 0; }
    #calendar .fc-toolbar .fc-button {
      border: none;
      border-radius: unset;
      text-shadow: none; }
    #calendar .fc-toolbar .fc-state-default {
      background: none;
      box-shadow: none; }
    #calendar .fc-toolbar .fc-left {
      margin: 8px 0 12px 18px; }
      #calendar .fc-toolbar .fc-left .fc-button-group .fc-month-button,
      #calendar .fc-toolbar .fc-left .fc-button-group .fc-agendaWeek-button {
        padding: 5px;
        height: 28px; }
        #calendar .fc-toolbar .fc-left .fc-button-group .fc-month-button:first-child,
        #calendar .fc-toolbar .fc-left .fc-button-group .fc-agendaWeek-button:first-child {
          margin-right: 5px; }
      #calendar .fc-toolbar .fc-left .fc-button-group .fa-th,
      #calendar .fc-toolbar .fc-left .fc-button-group .fa-bars {
        color: #222;
        font-size: 18px; }
    #calendar .fc-toolbar .fc-center {
      height: 34px;
      margin: 11px 0 3px; }
      #calendar .fc-toolbar .fc-center .fc-prev-button,
      #calendar .fc-toolbar .fc-center .fc-next-button {
        display: inline-block;
        background: red;
        height: 28px;
        margin-bottom: 6px;
        padding: 10px; }
        #calendar .fc-toolbar .fc-center .fc-prev-button .fa-chevron-left,
        #calendar .fc-toolbar .fc-center .fc-prev-button .fa-chevron-right,
        #calendar .fc-toolbar .fc-center .fc-next-button .fa-chevron-left,
        #calendar .fc-toolbar .fc-center .fc-next-button .fa-chevron-right {
          font-size: 8px;
          color: #000;
          margin: 0 auto; }
      #calendar .fc-toolbar .fc-center h2 {
        display: inline-block;
        font-size: 23px;
        line-height: 34px;
        padding: 0 27px 0 42px; }
  #calendar .fc-view-container .fc-day-header {
    height: 37px;
    text-align: left; }
    #calendar .fc-view-container .fc-day-header span {
      display: block;
      height: 21px;
      margin: 9px 0 7px;
      padding-left: 30px;
      font-size: 14px;
      font-weight: 500;
      color: #506584; }
  #calendar .fc-view-container .fc-day-top {
    height: 57px; }
    #calendar .fc-view-container .fc-day-top .fc-day-number {
      float: none;
      display: block;
      height: 34px;
      margin-top: 23px;
      padding: 0 0 0 18px;
      font-size: 23px; }
    #calendar .fc-view-container .fc-day-top.fc-other-month {
      opacity: 1;
      color: #c5c5da; }
  #calendar.fc-unthemed th, #calendar.fc-unthemed td, #calendar.fc-unthemed thead, #calendar.fc-unthemed tbody, #calendar.fc-unthemed .fc-divider, #calendar.fc-unthemed .fc-row, #calendar.fc-unthemed .fc-content, #calendar.fc-unthemed .fc-popover, #calendar.fc-unthemed .fc-list-view, #calendar.fc-unthemed .fc-list-heading td {
    border-color: #eaebf0; }
  #calendar.fc-unthemed td.fc-today {
    background: #ececf6; }
  #calendar.fc-unthemed td.fc-today .fc-day-number {
    height: 43px;
    margin-top: 15px;
    padding-left: 24px;
    font-family: 'dinbold', sans-serif;
    font-size: 32px; }

.one-fifth {
  width: 345px;
  background: #ededf6;
  background: -moz-linear-gradient(top, #ededf6 0%, #f8f9fb 389px);
  background: -webkit-linear-gradient(top, #ededf6 0%, #f8f9fb 389px);
  background: linear-gradient(to bottom, #ededf6 0%, #f8f9fb 389px);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededf6', endColorstr='#f8f9fb',GradientType=0 );
  padding: 17px 0 21px; }
  .one-fifth .sidebar-heading {
    padding-left: 20px;
    margin-bottom: 4px;
    line-height: 24px; }
  .one-fifth #sidebar #sidebar-search-form-wrap {
    margin: 0 24px 26px 16px;
    background: #ffffff;
    border-radius: 3px; }
    .one-fifth #sidebar #sidebar-search-form-wrap #sidebar-search-form .sidebar-search-icon {
      font-size: 14px;
      line-height: 14px;
      color: #c5c5da;
      padding: 11px 10px 10px 12px; }
    .one-fifth #sidebar #sidebar-search-form-wrap #sidebar-search-form #sidebar-search {
      width: 187px;
      color: #b5bec8;
      font-size: 14px;
      line-height: 21px;
      padding: 9px 0 5px; }
  .one-fifth #sidebar #events {
    height: 771px;
    overflow-y: auto; }
    .one-fifth #sidebar #events .events-container .events-date {
      display: inline-block;
      font-size: 16px;
      padding-left: 17px;
      margin: 10px 0 21px;
      height: 24px; }
    .one-fifth #sidebar #events .events-container .events-list .events-list-item {
      display: flex;
      padding-left: 17px; }
      .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-img-wrap {
        position: relative;
        margin-top: 2px; }
        .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-img-wrap .sidebar-user-status {
          position: absolute;
          width: 10px;
          height: 10px;
          background: #7cd500;
          border-radius: 50%;
          top: 23px;
          right: -1px; }
        .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-img-wrap .sidebar-user-status-do-not-disturb {
          background: #f3343e; }
      .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap {
        padding-left: 12px;
        margin-bottom: 11px; }
        .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap .sidebar-user-name {
          display: block;
          font-family: "dinbold", sans-serif;
          font-size: 14px;
          line-height: 20px; }
        .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap .events-details {
          display: block;
          font-size: 14px;
          color: #000000;
          line-height: 21px; }
        .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap .events-time-wrap {
          position: relative; }
          .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap .events-time-wrap .sidebar-clock-icon {
            position: absolute;
            font-size: 12px;
            color: #c5c5da;
            top: 0;
            left: 0; }
          .one-fifth #sidebar #events .events-container .events-list .events-list-item .sidebar-events-info-wrap .events-time-wrap .events-time {
            padding-left: 17px;
            font-size: 14px;
            line-height: 21px;
            color: #afbdd2; }

/*# sourceMappingURL=style.css.map */
